
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Oxygen:400,700|Open+Sans:400,700|Marmelad|Varela&subset=latin,latin-ext);
/*
Google Fonts
http://www.google.com/fonts#UsePlace:use/Collection:Ubuntu:400,700|Oxygen:400,700|Open+Sans:400,700|Marmelad|Varela

font-family: 'Ubuntu', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Marmelad', sans-serif;
font-family: 'Varela', sans-serif;
*/

/* Gridster */

.gridster {
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: x-small;
  color: #666666;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gridster a {
  color: #004756;
  text-decoration: underline;
  font-weight: bold;
}

.gridster ul, .gridster ol {
  list-style: none;
}

.gridster .gs-w {
  background: #FFF;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
}

.gridster .player {
}

.gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: rgba(255, 255, 255, .2) !important;
}

.gridster li header {
  background: #999;
  display: block;
  font-size: 20px;
  line-height: normal;
  padding: 4px 0 6px;
  margin: 0;
  cursor: move;
  text-align: center;
}

.gridster li {
  overflow: hidden;
}

/* MDashboard */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

* {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

body {
  background: #fff url(images/wood-005.png);
}

[hidden] {
  display: none;
}

.mr025 {
  margin-right: .25em
}

.ml025 {
  margin-left: .25em
}

.ml01 {
  margin-left: .1em;
}

.ml05 {
  margin-left: .5em
}

.ml10 {
  margin-left: 1em;
}

.mr05 {
  margin-right: .5em
}

.mr01 {
  margin-right: .1em;
}

.mt025 {
  margin-top: .25em
}

.mt05 {
  margin-top: .5em
}

.mt075 {
  margin-top: .75em
}

.mt10 {
  margin-top: 1em
}

.mb10 {
  margin-bottom: 1em;
}

.mtb10 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.m10 {
  margin: 1em;
}

.mtb05 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.mdashboard-container {
  position: relative;
}

.mwidget-icon {
  color: #BBB;
  position: absolute;
  z-index: 10;
  opacity: .6;
}

.icon-close {
  right: 5px;
  top: 7px;
}

.icon-settings {
  right: 27px;
  top: 7px;
}

.icon-settings:hover {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.mwidget-icon:hover {
  color: #333;
  opacity: 1;
}

.mdashboard-toolbar .btn {
  display: block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  margin: 3px 0 0 10px;
}

.mdashboard-toolbar {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: block;
  height: 53px;
  /*padding: 5px 0 0 5px;*/
  width: 100%;
  background-color: rgba(0,0,0,0.25);
  z-index: 3;

  -moz-transition: margin .25s;
  -webkit-transition: margin .25s;
  -o-transition: margin .25s;
  transition: margin .25s;
}

.mdashboard-toolbar-list li {
  display: inline-block;
}

.toolbar-collapse {
  margin-top: -40px;
}

.button {
  color: #333;
  background-color: #e5e5e5;

  display: inline-block;
  padding: .5em .3em .1em .5em;
  margin: 0 .5em 0 0;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 8px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #ebebeb;
}

.button-text {
  width: 90px;
  text-align: center;
}

.disabled {
  background-color: #f5f5f5;
  color: #999;
  opacity: .4;
}

.mdashboard-toolbar .btn {
  color: rgba(0,0,0,0.5);
}

.mdashboard-toolbar .btn:hover {
  color: rgba(0,0,0,1);
}

.mwidget-content {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.chart {
  position: absolute;
  left: 0;
  bottom: 0;
}

.loading:after {
	border-width: 0 3px 0 0;
	border-style: solid;
	border-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	display: block;
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -25px;
	position: absolute;
	top: 50%;
	width: 50px;

	content: "";

	animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

.dialog {
  width: 700px;
  height: 620px;
  overflow: hidden;
  padding: .25em;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.passive-dialog {
  background-color: #fff;
  opacity: .25;
}

.dialog .dialog-header {
  display: block;
  vertical-align: middle;
  margin: .5em;
  z-index: 10;
}

.dialog .dialog-header-text {
  margin: .25em;
  font-size: 9pt;
  line-height: 13px;
  display: inline-block;
  color: #999;
}

.dialog .dialog-footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 10;
}

.dialog .dialog-body {
  width: 650px;
  background-color: #F5F2EF;
  border-radius: 5px;
}

#dialog-content-id {
  padding: 0;
  margin-top: 1em;
}

.dialog-well {
  background-color: #F5F2EF;
  border-radius: 5px;
  border: solid 1px #CCC;

  -webkit-box-shadow: inset 0 0 5px -2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    inset 0 0 7px -2px rgba(50, 50, 50, 0.3);
  box-shadow:         inset 0 0 7px -2px rgba(50, 50, 50, 0.3);
}

#dialog-inner-content {
  width: 100%;
  overflow: auto;
  z-index: 11;
  margin-top: .25em;
}

#scroller-container {
  display: block;
  position: absolute;
  overflow: hidden;
  border-radius: 5px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#scroller-content {
  background: transparent;
  width: 4000px;
  height: 2000px;
  position: relative;

  -webkit-transform-origin: left top;
  -webkit-transform: translateZ(0);
  -moz-transform-origin: left top;
  -moz-transform: translateZ(0);
  -ms-transform-origin: left top;
  -ms-transform: translateZ(0);
  -o-transform-origin: left top;
  -o-transform: translateZ(0);
  transform-origin: left top;
  transform: translateZ(0);
}

#scroller-panel {
  background: transparent;
  width: 4000px;
  height: 2000px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  color: #000;
;
}

.scroller-cell {
  /*width: 300px;
  height: 300px;
  background: transparent url('images/seamless-bamboo-pattern-842.png') no-repeat top left;*/
  /*width: 120px;
  height: 120px;
  background: transparent url('images/subtle-mosaic-pattern1507.png') no-repeat top left;*/
  width: 200px;
  height: 177px;
  background: transparent url('images/seamless-brick-wall-pattern.png') no-repeat top left;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 20px;
  z-index: 5;

  /*text-align: center;*/
}

.scroller-cell:after {
  content: ''
}

.scroller-message {
  font-size: 24pt;
  color: #CCC;
}

#boxer, .resp-vtabs {
  border: solid transparent 10px;
  border-radius: 5px;
}

#boxer.inline {
  padding: 5px;
  border-radius: 5px;
}

.resp-vtabs {
  border-radius: 0;
}

.pull-left {
  float:left
}

.pull-right {
  float:right
}

.merlon-logo {
  background: transparent url('images/merlon-logo-small.png') center no-repeat;
}

.widget-container,
.module-container,
.service-container,
.service-ajax-container {
  overflow: hidden;
}

.widget-container .form,
.module-container .form,
.service-container .form,
.service-ajax-container .form {
  display: block;
  width: 100%;
  font-size: 12pt;
}

.widget-container .form-label,
.module-container .form-label,
.service-container .form-label {
  width: 16%;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}

.service-ajax-container .form-label {
  width: 20%;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}

.widget-container .form-break,
.module-container .form-break,
.service-container .form-break,
.service-ajax-container form-break {
  text-align: center;
  display: inline-block;
}

.widget-container .form-item,
.module-container .form-item,
.service-container .form-item,
.service-ajax-container .form-item {
  display: inline-block;
  text-align: left;
}

.widget-container .form-button,
.module-container .form-button,
.service-container .form-button,
.service-ajax-container .form-button {
  display: inline-block;
  margin-left: .5em;
  vertical-align: middle;
  line-height: 30px;
}

.form-label input[type=text]  {
  width: 90px;
  border-radius: 4px;
  padding: .25em;
  background-color: #fff;
  border: 1px solid #666;
}

.form-item input[type=text],
.form-item textarea,
.form-item select {
  width: 475px;
  border-radius: 4px;
  padding: .25em;
  background-color: #fff;
  border: 1px solid #666;
}

form.form {
  text-align: left;
}

form.form, .form-row {
  width: 100%;
}

.form-row div {
  display: inline-block;
  margin-bottom: .5em;
}

.item-uid {
  color: #666;
}

.item-icons {
  width: 475px;
  height: 115px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  padding: .35em;
  background-color: #fff;
  border: 1px solid #666;
}

.item-icons li {
  list-style: none;
  float: left;
  font-weight: normal;
  line-height: 40px;
  color: #333;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
}

.item-icons li.selected {
  color: #FFF;
  background-color: #900;
  border-radius: 4px;
}

.item-icon:hover {
  color: #000;
  background-color: #CCC;
  border-radius: 4px;
  cursor: pointer;
}

.item-icon a, .item-icon a:visited {
  color: inherit;
}

.red {
  color: #900;
}

.fa {
  margin-right: .1em;
}

.hide {
  display: none;
}

#management-canvas, #management-svg, #management-container {
  position: absolute;
  left: 0;
  top: 0;
}

#management-container * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.m-module {
  margin: .25em;
  padding: .25em;
  border-width: 2px;
  border-style: dotted;
  border-radius: 8px;
  border-color: transparent;
  float: left;
}

.m-module:hover {
  border-color: #f00;
  cursor: pointer;
}

.m-selected {
  border-style: solid;
  border-color: #f00;
}

.error {
  color: #a00;
  font-weight: bold;
}

.success {
  color: #0a0;
  font-weight: bold;
}

#connection-page-result-test {
  margin: 1em;
}

#connection-page-result-test hr {
  margin: .5em;
}