
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Oxygen:400,700|Open+Sans:400,700|Marmelad|Varela&subset=latin,latin-ext);
/*
Google Fonts
http://www.google.com/fonts#UsePlace:use/Collection:Ubuntu:400,700|Oxygen:400,700|Open+Sans:400,700|Marmelad|Varela

font-family: 'Ubuntu', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Marmelad', sans-serif;
font-family: 'Varela', sans-serif;
*/

/* Gridster */

.gridster {
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: x-small;
  color: #666666;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gridster a {
  color: #004756;
  text-decoration: underline;
  font-weight: bold;
}

.gridster ul, .gridster ol {
  list-style: none;
}

.gridster .gs-w {
  background: #FFF;
  cursor: pointer;
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
}

.gridster .player {
  /*-webkit-box-shadow: 3px 3px 5p/x rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);*/
}

.gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: rgba(255, 255, 255, .2) !important;
}

.gridster li header {
  background: #999;
  display: block;
  font-size: 20px;
  line-height: normal;
  padding: 4px 0 6px;
  margin: 0;
  cursor: move;
  text-align: center;
}

.gridster li {
  overflow: hidden;
}

/* MDashboard */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

* {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

body {
  background: #e1c192 url(images/wood-005.png);
}

[hidden] {
  display: none;
}

.mr025 {
  margin-right: .25em
}

.mr05 {
  margin-right: .5em
}

.mt025 {
  margin-top: .25em
}

.mdashboard-container {
  position: relative;
}

.mwidget-icon {
  color: #BBB;
  position: absolute;
  z-index: 10;
  opacity: .6;
}

.icon-close {
  right: 5px;
  top: 7px;
}

.icon-settings {
  right: 27px;
  top: 7px;
}

.icon-settings:hover {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.mwidget-icon:hover {
  color: #333;
  opacity: 1;
}

.mdashboard-toolbar .btn {
  display: block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  margin: 3px 0 0 10px;
}

.mdashboard-toolbar {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: block;
  height: 53px;
  /*padding: 5px 0 0 5px;*/
  width: 100%;
  background-color: rgba(0,0,0,0.25);
  z-index: 3;

  -moz-transition: margin .25s;
  -webkit-transition: margin .25s;
  -o-transition: margin .25s;
  transition: margin .25s;
}

.mdashboard-toolbar-list li {
  display: inline-block;
}

.toolbar-collapse {
  margin-top: -40px;
}

.mdashboard-toolbar .btn {
  color: rgba(0,0,0,0.5);
}

.mdashboard-toolbar .btn:hover {
  color: rgba(0,0,0,1);
}

.mwidget-content {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.chart {
  position: absolute;
  left: 0;
  bottom: 0;
}

.loading:after {
	border-width: 0 3px 0 0;
	border-style: solid;
	border-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	display: block;
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -25px;
	position: absolute;
	top: 50%;
	width: 50px;

	content: "";

	animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
/*
.settings-table {
  border-spacing: 10px;
  border-collapse: separate;
}
*/
.dialog {
  width: 750px;
  height: 600px;
  overflow: auto;
  padding: .5em;
  font-family: 'Ubuntu', sans-serif;
}

.dialog .dialog-header {
  line-height: 65px;
  vertical-align: middle;
  margin: 1em;
}

.dialog .dialog-body {
  width: 99%;
  margin: 1em auto;
  background-color: #F5F2EF;
  height: 300px;
  border-radius: 7px;
}

.swiper-container, .swiper-slide {
  width: 64px;
  height: 64px;
}

#boxer, .resp-vtabs {
  /*background-color: rgba(243,243,232,0.7);*/
  border: solid transparent 10px;
  border-radius: 5px;
}

#boxer.inline {
  padding: 5px;
  border-radius: 5px;
}

.resp-vtabs {
  border-radius: 0;
}

.pull-left {
  float:left
}

.pull-right {
  float:right
}