@import "../font-awesome-4.0.3/css/font-awesome.min.css";

/* =============================================================================
   NORMALIZATION
========================================================================== */

* {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

ul, ol {
  list-style: none;
}

/* =============================================================================
   COMMONS
========================================================================== */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: x-small;
  color: #666666;
}

a {
  color: #004756;
  text-decoration: underline;
  font-weight: bold;
}

/* Gridster styles */
.demo {
  margin: 3em 0;
  padding: 7.5em 0 5.5em;
  background: #004756;
}

.gridster {
  width: 960px;
  margin: 0 auto;
}

.gridster .gs-w {
  background: #FFF;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster .player {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.gridster .gs-w.try {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 37px -169px;
}

.gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: rgba(255, 255, 255, .2) !important;
}

.gridster li header {
  background: #999;
  display: block;
  font-size: 20px;
  line-height: normal;
  padding: 4px 0 6px;
  margin-bottom: 20px;
  cursor: move;
  text-align: center;
}

.mr025 { margin-right: .25em }
.mr05 { margin-right: .5em }
.mt025 { margin-top: .25em }

.mdashboard-settings-icon {
  color: #BBB;
  position: absolute;
  right: 7px;
  top: 7px;
}

.mdashboard-settings-icon:hover {
  color: white;
}